@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  @font-face {
    font-family: 'Catalana-Bold';
    src: url('../../public/fonts/Catalana-Bold.woff2');
  }
  @font-face {
    font-family: 'Catalana-Medium';
    src: url('../../public/fonts/Catalana-Medium.woff2');
  }
  @font-face {
    font-family: 'Catalana-Regular';
    src: url('../../public/fonts/Catalana-Regular.woff2');
  }
  @font-face {
    font-family: 'CatalanaSans-Bold';
    src: url('../../public/fonts/CatalanaSans-Bold.woff2');
  }
  @font-face {
    font-family: 'CatalanaSans-Medium';
    src: url('../../public/fonts/CatalanaSans-Medium.woff2');
  }
  @font-face {
    font-family: 'CatalanaSans-Regular';
    src: url('../../public/fonts/CatalanaSans-Regular.woff2');
  }
  @font-face {
    font-family: 'Fontawesome-Webfont.woff2';
    src: url('../../public/fonts/fontawesome-webfont.woff2');
  }
  @font-face {
    font-family: 'Iber';
    src: url('../../public/fonts/iber.ttf');
  }
}

@layer components {
  .input-primary-lg {
    @apply h-10 w-80 border-opacity-50 appearance-none border-b-2 border-[#828282]  placeholder:text-base placeholder:text-[#666666] text-[#666666] focus:border-[#828282] focus:outline-none;
  }
  .input-primary-sm {
    @apply h-10 w-32 border-opacity-50 appearance-none border-b-2 border-[#828282]  placeholder:text-base placeholder:text-[#666666] text-[#666666] focus:border-[#828282] focus:outline-none;
  }
  .btn-primary {
    @apply h-10 bg-[#DC0028] hover:bg-[#8E2A2B] py-3 px-4 rounded-[30px] uppercase font-[CatalanaSans-Medium] text-white text-sm self-center;
  }
  .btn-primary-outline-disabled {
    @apply flex cursor-pointer  items-center gap-2 border-[1px] text-[#DC0028] border-[#DC0028] py-3 px-4 rounded-[30px] font-[CatalanaSans-Medium] text-sm leading-3;
  }
}
